
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{  margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;

}
body{
    font-family: 'Roboto', sans-serif;}
  
header{
    background-color: #0a4275;
}
footer{
    background-color: #0a4275;
}

#Servicios{
    margin-left: 2rem;
    margin-right: 2rem;
} 
.valor{
    font-size: 3rem;
    }
hr{
    margin-left: 2%;
    margin-right: 2%;
    }
    .containeth2{
        background-color: #0a4275;
        color: white;
        padding: 1rem;
        margin: 1rem;
    }

